/* table of content - start
==================================================================================================== */
/* ==================================================
Project Name 	:  ZiX - Creative Agency Template
File 			:  CSS Base
Version 		:  1.0.0
Last change 	:  22 January 2020
Author 			:  DroitLab
Developer:		:  Rakibul Islam Dewan
================================================== */
/* table of content - end
==================================================================================================== */
@import "variable";
@import "reset";

@import "header";
@import "footer";

@import "home";

@import "responsive";