/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

.example {
  display: -ms-grid;
  display: grid;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(white),
    to(black)
  );
  background: -o-linear-gradient(top, white, black);
  background: linear-gradient(to bottom, white, black);
} /* BEGIN CARD INFO */
card-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
card-info.dir-right {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
  text-align: end;
}
card-info :where(.card-img, .card-info) {
  -webkit-box-flex: 1;
  -ms-flex: 1 0 50%;
  flex: 1 0 50%;
}

.card-info {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 30px;
}

.card-heart {
  position: absolute;
  right: 50px;
  top: 30px;
  width: min(100px, 40vw);
  color: rgb(246, 193, 127);
}
.dir-right .card-heart {
  left: 50px;
  right: auto;
}
.card-heart svg {
  fill: currentColor;
  -webkit-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease;
}
.card-heart .heart_1:hover {
  -webkit-transform: translate(-50%, 0%) scale(0.9);
  -ms-transform: translate(-50%, 0%) scale(0.9);
  transform: translate(-50%, 0%) scale(0.9);
  z-index: 2;
}
.card-heart .heart_2:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  z-index: 2;
}
.card-heart .heart_1 {
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: translate(-50%, 0%) scale(0.8);
  -ms-transform: translate(-50%, 0%) scale(0.8);
  transform: translate(-50%, 0%) scale(0.8);
}
.card-label,
.card-para {
  font-size: 20px;
  -webkit-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease;
}
.card-para {
  text-align: justify;
}
.card-para:hover {
  -webkit-transform: scale(1.03);
  -ms-transform: scale(1.03);
  transform: scale(1.03);
}
.card-name {
  font-size: 45px;
  font-family: var(--font-family-3);
  -webkit-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease;
}
.card-name:hover {
  color: var(--heading-color);
  -webkit-transform: scale(1.03);
  -ms-transform: scale(1.03);
  transform: scale(1.03);
}
.card-shape {
  margin-top: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.card-shape svg {
  height: 20px;
}
@media (max-width: 992px) {
  .card-heart {
    right: 0;
  }
}
/* END CARD INFO */

/* timeline  */

time-line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  gap: var(--gap);
  padding: 30px 0;
  /* background-color: steelblue; */
  position: relative;
  --gap: 50px;
  --width-img: 140px;
  font-family: var(--font-family-2);
}
time-line::before {
  position: absolute;
  left: calc(var(--width-img) + (var(--gap) / 2));
  top: 0;
  content: "";
  width: 2px;
  height: 0;
  background-color: #000;
  -webkit-transition: all 0.75s linear;
  -o-transition: all 0.75s linear;
  transition: all 0.75s linear;
}
time-line::after {
  position: absolute;
  top: 50%;
  left: calc(var(--width-img) + (var(--gap) / 2));
  content: "";
  width: 0;
  height: 1px;
  background-color: #000;
  -webkit-transform: translateX(-50%) translateY(-100%);
  -ms-transform: translateX(-50%) translateY(-100%);
  transform: translateX(-50%) translateY(-100%);
  -webkit-transition: all 0.75s linear;
  -o-transition: all 0.75s linear;
  transition: all 0.75s linear;
}
time-line.in-sight::before {
  height: 100%;
}
time-line.in-sight::after {
  width: calc(var(--gap) / 2);
}

time-line .t-img {
  width: var(--width-img);
  overflow: hidden;
  border-radius: 5px;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 var(--width-img);
  flex: 0 0 var(--width-img);
  aspect-ratio: 1;
}
time-line .t-content {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}
time-line .t-des {
  font-size: 16px;
}
time-line .t-title {
  -webkit-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease;
}
time-line .t-title:hover {
  color: var(--heading-color);
}
@media (max-width: 767px) {
  time-line {
    --gap: 30px;
    --width-img: 100px;
    padding: 15px 0;
  }
  time-line .t-time {
    font-size: 13px;
  }
  time-line .t-title {
    font-size: 18px;
  }
  time-line .t-des {
    font-size: 13px;
  }
}
/* Audio music */

audio-custom .player-btn {
  position: relative;
  border: none;
  outline: none;
  background-color: transparent;
  position: fixed;
  left: 15px;
  bottom: 15px;
  z-index: 999;
}
audio-custom .player-btn > * {
  pointer-events: none;
}
audio-custom .player-btn-particles {
  width: 50px;
  height: 50px;
  background: #fa6fce;
  -webkit-filter: url(#fancy-goo);
  filter: url(#fancy-goo);
}
audio-custom .player-btn-particle {
  position: absolute;
  width: 20px;
  height: 20px;
  background: #fa6fce;
}
audio-custom .player-btn-particle--second {
  right: 0;
}
audio-custom .player-btn-particle--third {
  right: 0;
  bottom: 0;
}
audio-custom .player-btn-particle--fourth {
  bottom: 0;
}
audio-custom .player-btn-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 25px;
}
audio-custom .player-btn .svg-play {
  stroke: #fff;
  stroke-width: 20;
  stroke-dasharray: 1000;
  stroke-dashoffset: 0;
  stroke-linejoin: round;
  stroke-linecap: round;
}
audio-custom .player-btn.active .svg-play {
  -webkit-animation: to-pause 1s ease-in-out forwards;
  animation: to-pause 1s ease-in-out forwards;
}
audio-custom .player-btn .svg-play {
  -webkit-animation: to-play 1s ease-in-out forwards;
  animation: to-play 1s ease-in-out forwards;
}
audio-custom .player-btn.active .player-btn-particles {
  -webkit-animation: 3s rotation linear infinite;
  animation: 3s rotation linear infinite;
}
audio-custom .player-btn.active .player-btn-particle {
  will-change: transform;
  border-radius: 50%;
}
audio-custom .player-btn.active .player-btn-particle--one {
  -webkit-animation: particle-1 2s ease-in-out infinite;
  animation: particle-1 2s ease-in-out infinite;
}
audio-custom .player-btn.active .player-btn-particle--second {
  -webkit-animation: particle-2 2s 1s ease-in-out infinite;
  animation: particle-2 2s 1s ease-in-out infinite;
}
audio-custom .player-btn.active .player-btn-particle--third {
  -webkit-animation: particle-3 2s 1.5s ease-in-out infinite;
  animation: particle-3 2s 1.5s ease-in-out infinite;
}
audio-custom .player-btn.active .player-btn-particle--fourth {
  -webkit-animation: particle-4 2s 2s ease-in-out infinite;
  animation: particle-4 2s 2s ease-in-out infinite;
}
audio-custom canvas {
  position: fixed;
  inset: 0;
  pointer-events: none;
  opacity: 0.08;
}

@-webkit-keyframes rotation {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  50% {
    background: #00aaff;
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes rotation {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  50% {
    background: #00aaff;
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-webkit-keyframes particle-1 {
  50% {
    -webkit-transform: translate(-6px, 15px);
    transform: translate(-6px, 15px);
    background: #76ffe8;
  }
}

@keyframes particle-1 {
  50% {
    -webkit-transform: translate(-6px, 15px);
    transform: translate(-6px, 15px);
    background: #76ffe8;
  }
}

@-webkit-keyframes particle-2 {
  50% {
    -webkit-transform: translate(-12px, -9px);
    transform: translate(-12px, -9px);
    background: #63eb9e;
  }
}

@keyframes particle-2 {
  50% {
    -webkit-transform: translate(-12px, -9px);
    transform: translate(-12px, -9px);
    background: #63eb9e;
  }
}

@-webkit-keyframes particle-3 {
  50% {
    -webkit-transform: translate(10px, -25px);
    transform: translate(10px, -25px);
    background: #5df7ff;
  }
}

@keyframes particle-3 {
  50% {
    -webkit-transform: translate(10px, -25px);
    transform: translate(10px, -25px);
    background: #5df7ff;
  }
}

@-webkit-keyframes particle-4 {
  50% {
    -webkit-transform: translate(0px, 10px);
    transform: translate(0px, 10px);
    background: #ff0095;
  }
}

@keyframes particle-4 {
  50% {
    -webkit-transform: translate(0px, 10px);
    transform: translate(0px, 10px);
    background: #ff0095;
  }
}

@-webkit-keyframes to-play {
  0% {
    stroke-width: 40;
    d: path("M50 20 V160 M140 20 V160");
  }
  50% {
    stroke-dashoffset: 1000;
  }
  100% {
    stroke-width: 20;
    d: path("M90 50 L30 15 L30 160 L170 100 L130 75");
    stroke-dashoffset: 0;
  }
}

@keyframes to-play {
  0% {
    stroke-width: 40;
    d: path("M50 20 V160 M140 20 V160");
  }
  50% {
    stroke-dashoffset: 1000;
  }
  100% {
    stroke-width: 20;
    d: path("M90 50 L30 15 L30 160 L170 100 L130 75");
    stroke-dashoffset: 0;
  }
}
@-webkit-keyframes to-pause {
  0% {
    stroke-dashoffset: 0;
    d: path("M90 50 L30 15 L30 160 L170 100 L130 75");
  }
  50% {
    stroke-dashoffset: 1000;
  }
  100% {
    stroke-width: 40;
    d: path("M50 20 V160 M140 20 V160");
    stroke-dashoffset: 0;
  }
}
@keyframes to-pause {
  0% {
    stroke-dashoffset: 0;
    d: path("M90 50 L30 15 L30 160 L170 100 L130 75");
  }
  50% {
    stroke-dashoffset: 1000;
  }
  100% {
    stroke-width: 40;
    d: path("M50 20 V160 M140 20 V160");
    stroke-dashoffset: 0;
  }
}

/* invite */

invite-card invite-head {
  border: 0.5px solid;
  padding: 20px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: min(350px, 90vw);
  margin: 0 auto;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 50px;
  background-color: rgb(246, 193, 127, 0.1);
  border-radius: 3px;
  overflow: hidden;
  position: relative;
}
invite-card invite-head img {
  position: absolute;
  inset: 0;
  object-fit: cover;
  z-index: -1;
  opacity: 0.2;
}
invite-card invite-head p {
  margin-bottom: 0;
}

invite-card invite-body {
  padding: 15px;
  border-radius: 10px;
  overflow: hidden;
  border: 0.5px dashed var(--second-color);
  display: block;
  position: relative;
  background-color: rgba(187, 106, 7, 0.1);
}

invite-body .xam {
  position: absolute;
  width: min(200px, 40vw);
  z-index: -1;
  opacity: 0.15;
  top: 10%;
  left: 10%;
}

invite-body .xam2 {
  position: absolute;
  width: min(200px, 40vw);
  z-index: -1;
  opacity: 0.15;
  bottom: 10%;
  right: 10%;
}

invite-body .head {
  display: flex;
  justify-content: space-between;
  position: relative;
  margin-bottom: 50px;
}
invite-body .head::before {
  position: absolute;
  top: 10px;
  left: 50%;
  bottom: 10px;
  width: 1px;
  background-color: #000;
  content: "";
}
invite-body .head .b-g {
  flex: 0 0 40%;
}
invite-body .head p:not(.title) {
  margin-bottom: 0px;
}
invite-body .head .address {
  font-size: 13px;
}
invite-body p {
  margin-bottom: 10px;
}
invite-body .head-i .underline {
  font-size: 18px;
  text-decoration: underline;
}
invite-body .name p {
  margin-bottom: 0;
  font-size: 30px;
  line-height: 54px;
  color: rgb(232, 59, 48);
}
invite-body .name {
  margin-bottom: 10px;
  position: relative;
}
invite-body .ladi-transi {
  position: absolute;
  top: 5px;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
}
invite-body .ladi-transi .wrap {
  position: relative;
}
invite-body .ladi-transi .transi-1 {
  width: 25px;
  animation: transi_1 1s infinite forwards;
}
invite-body .ladi-transi .transi-2 {
  width: 15px;
  position: absolute;
  right: -5px;
  bottom: 0;
  animation: transi_2 1s 1s infinite forwards;
}

@keyframes transi_1 {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes transi_2 {
  0% {
    transform: scale(1.1);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.1);
  }
}

invite-body .timer {
  margin-bottom: 50px;
}
invite-body .timer p {
  margin-bottom: 2px;
}
invite-body .time-wrap {
  display: flex;
  align-items: center;
  margin: 0 auto;
  justify-content: center;
  gap: 10px;
  font-size: 16px;
  font-weight: 600;
}
invite-body .time-wrap .date {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 0 0 30%;
  line-height: 1;
  padding: 10px 0;
  border: 1px solid;
  border-left: none;
  border-right: none;
}
invite-body .time-wrap .illu {
  font-size: 55px;
  color: rgb(232, 59, 48);
  line-height: 1;
}
invite-body .blm {
  font-size: 18px;
  margin-top: 30px;
  margin-bottom: 0;
  text-decoration: underline;
}
invite-card .map {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px 0;
}
invite-card .map a {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  background-color: rgba(187, 106, 7, 0.1);
  text-decoration: none;
  color: #000;
  border-radius: 3px;
  transition: 0.25s ease;
}
invite-card .map a:hover {
  background-color: rgba(251, 0, 255, 0.3);
}

@media (max-width: 767px) {
  invite-card invite-head {
    margin-bottom: 30px;
  }
}

/* event */

.event .section-inner{
  background-color: rgba(255, 255, 255, 0.5);
}
.event-card .e-inner {
  text-align: center;
  padding: 30px;
  border: 2px dashed #787878;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.6);
}
.e-inner .heading {
  font-size: 24px;
  font-weight: 600;
  margin-top: 15px;
  margin-bottom: 15px;
  color: rgba(0, 0, 0, 0.5);
}
.e-countdown .e-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  margin-bottom: 15px;
}
.e-countdown .e-item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90px;
  aspect-ratio: 1;
  background-color: #fff;
  z-index: 3;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 0px;
  padding: 10px;
  font-size: 36px;
  font-family: var(--font-family-5);
}
.e-item .time-text{
  font-size: 16px;
}
.event-card .timer{
  font-size: 18px;
  font-weight: 600;
  font-family: var(--font-family-2);
  margin-bottom: 5px;
}
.event-card .timer2{
  font-size: 15px;
  margin-bottom: 20px;
}
.event-card .place{
  font-size: 18px;
  font-weight: 600;

}
.event-card .place p{
  margin-bottom: 5px;
}
.event-card .place .ho{
  font-size: 16px;
  font-weight: 400;
}
.event-card a{
  text-decoration: none;
  color: #000;
  background-color: #fff;
  border-radius: 30px;
  padding: 10px 35px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
  transition: .25s ease;
}
.event-card a:hover{
  background-color: #000;
  color: #fff;
}

/* boxgift */
.box-gift .body{
  padding: 15px;
}
.box-gift .ct{
  display: flex;
  gap: 10px;
  justify-content: center;
  flex-wrap: wrap;
}
.box-gift .wrap{
  border: 1px dashed #000;
  border-radius: 15px;
  padding: 15px;
  margin-bottom: 5px;
}
.box-gift .ct h3{
  font-size: 20px;
  margin-bottom: 15px;
}
.box-gift .qr{
  padding: 20px;
  border-radius: 15px;
  border: 1px dashed #000;
  overflow: hidden;
  margin-bottom: 10px;
  width: min(320px, 80vw);
}
.box-gift .qr img{
  display: block;
  object-fit: contain;
  width: 100%;
}
.box-gift .qr-info{
  font-size: 18px;
  text-align: center;
}
.box-gift .qr-info p{
  margin-bottom: 5px;
}

/* onloading */
.onload{
  transition: .25s ease;
}
.onload .wrap{
  position: fixed;
  inset: 0;
  background-color: #FBF8F3;
  z-index: 9999;
  transition: 1.5s linear;
}


.onload .l{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  transition: 1.25s linear;
}
.onload .r{
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  transition: 1.25s linear;
}
.onload.loaded .l{
  transform: translateX(-100%);
}
.onload.loaded .r{
  transform: translateX(100%);
}
.onload.loaded + .body{
  overflow: auto;
}
.onload.loaded .wrap{
  opacity: 0;
  pointer-events: none;
}
.onload .o-i{
  width: min(320px,40vw);
  margin-top: -20px;
}
.onload.loaded .open-site{
  bottom: -50px;
}
.onload .open-site{
  background-color: #FBF8F3;
  padding: 10px 20px ;
  border-radius: 30px;
  color: #000;
  position: absolute;
  left: 50%;
  bottom: 10%;
  transform: translateX(-50%);
  font-size: 14px;
  outline: none;
  border: 1px solid rgba(0, 0, 0, 0.5);
  width: 150px;
  transition: .3s linear;
}

