@-webkit-keyframes snowflakes-fall {
  0% {
    top: -10%;
  }
  100% {
    top: 100%;
  }
}
@-webkit-keyframes snowflakes-shake {
  0%,
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  50% {
    -webkit-transform: translateX(80px);
    transform: translateX(80px);
  }
}
@keyframes snowflakes-fall {
  0% {
    top: -10%;
  }
  100% {
    top: 100%;
  }
}
@keyframes snowflakes-shake {
  0%,
  100% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(80px);
  }
}
.snowflake {
  color: #fff;
  font-size: 1em;
  font-family: Arial, sans-serif;
  text-shadow: 0 0 5px #000;
  position: fixed;
  top: -10%;
  z-index: 9999;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
  -webkit-animation-name: snowflakes-fall, snowflakes-shake;
  -webkit-animation-duration: 10s, 3s;
  -webkit-animation-timing-function: linear, ease-in-out;
  -webkit-animation-iteration-count: infinite, infinite;
  -webkit-animation-play-state: running, running;
  animation-name: snowflakes-fall, snowflakes-shake;
  animation-duration: 10s, 3s;
  animation-timing-function: linear, ease-in-out;
  animation-iteration-count: infinite, infinite;
  animation-play-state: running, running;
}
.snowflake:nth-of-type(0) {
  left: 1%;
  -webkit-animation-delay: 0s, 0s;
  animation-delay: 0s, 0s;
}
.snowflake:nth-of-type(1) {
  left: 10%;
  -webkit-animation-delay: 1s, 1s;
  animation-delay: 1s, 1s;
}
.snowflake:nth-of-type(2) {
  left: 20%;
  -webkit-animation-delay: 6s, 0.5s;
  animation-delay: 6s, 0.5s;
}
.snowflake:nth-of-type(3) {
  left: 30%;
  -webkit-animation-delay: 4s, 2s;
  animation-delay: 4s, 2s;
}
.snowflake:nth-of-type(4) {
  left: 40%;
  -webkit-animation-delay: 2s, 2s;
  animation-delay: 2s, 2s;
}
.snowflake:nth-of-type(5) {
  left: 50%;
  -webkit-animation-delay: 8s, 3s;
  animation-delay: 8s, 3s;
}
.snowflake:nth-of-type(6) {
  left: 60%;
  -webkit-animation-delay: 6s, 2s;
  animation-delay: 6s, 2s;
}
.snowflake:nth-of-type(7) {
  left: 70%;
  -webkit-animation-delay: 2.5s, 1s;
  animation-delay: 2.5s, 1s;
}
.snowflake:nth-of-type(8) {
  left: 80%;
  -webkit-animation-delay: 1s, 0s;
  animation-delay: 1s, 0s;
}
.snowflake:nth-of-type(9) {
  left: 90%;
  -webkit-animation-delay: 3s, 1.5s;
  animation-delay: 3s, 1.5s;
}
.snowflake:nth-of-type(10) {
  left: 25%;
  -webkit-animation-delay: 2s, 0s;
  animation-delay: 2s, 0s;
}
.snowflake:nth-of-type(11) {
  left: 65%;
  -webkit-animation-delay: 4s, 2.5s;
  animation-delay: 4s, 2.5s;
}

/* SLIDER EFFECT ACTIVE */

.slide-item :where(.slide-title,.slide-text,.slide-c-img) {
  opacity: 0;
  transform: translateY(20px);
  transition: all .25s ease-in-out;
}
.slide-item{
  position: relative;
}
.slide-item .slide-content{
  position: absolute;
  top: 50%;
  left: 10%;
  transform: translateY(-50%);
}
.slide-item.swiper-slide-active :where(.slide-title,.slide-text,.slide-c-img) {
  transform: translateY(0);
  opacity: 1;
  transition-duration: var(--duration,0.5s);
  transition-delay: var(--delay,0.25s);
}
@media (max-width: 767px){
  .slide-item .slide-content{
    left: 50%;
    transform: translate(-50%,-50%);
  }
  .slide-text{
    white-space: nowrap;
  }
}

/* IMAGE */
.img_hover{
  overflow: hidden;
  border-radius: 10px;
}
.img_hover img{
  transition: all .35s ease-in-out;
}
.img_hover:hover img{
  transform: scale(1.05);
}

.x_animated {
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: 2s;
  animation-fill-mode: forwards;
}

@keyframes tada {
  0% {
    transform: scale3d(1, 1, 1);
  }

  10%, 20% {
    transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
  }

  30%, 50%, 70%, 90% {
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
  }

  40%, 60%, 80% {
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
  }

  100% {
    transform: scale3d(1, 1, 1);
  }
}

.tada {
  animation-name: tada;
}


/* image effect */
.uncover {
	overflow: hidden;
	background-image: none !important;
	/* position: relative; */
}

.uncover__img {
	width: 100%;
	height: 100%;
	background-size: cover;
	background-position: 50% 50%;
}

.uncover__slices {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	display: flex;
}

.uncover__slices--vertical {
	flex-direction: row;
}

.uncover__slices--horizontal {
	flex-direction: column;
}

.uncover__slices--horizontal-double {
	display: grid;
	grid-template-columns: 50% 50%;
}

.uncover__slices--vertical-double {
	display: grid;
	grid-template-rows: 50% 50%;
}

.uncover__slice {
	color: #fff;
	background-color: currentColor;
	flex: 1;
}

.uncover__slices--vertical .uncover__slice {
	box-shadow: 1px 0 0 currentColor;
}

.uncover__slices--horizontal .uncover__slice {
	box-shadow: 0 1px 0 currentColor;
}