/* Dancing font */
@font-face {
  font-family: "Dancing Script";
  src: url("../font/DancingScript-Regular.ttf") format("opentype");
  font-weight: 400;
}
@font-face {
  font-family: "Dancing Script";
  src: url("../font/DancingScript-Medium.ttf") format("opentype");
  font-weight: 500;
}
@font-face {
  font-family: "Dancing Script";
  src: url("../font/DancingScript-SemiBold.ttf") format("opentype");
  font-weight: 600;
}
@font-face {
  font-family: "Dancing Script";
  src: url("../font/DancingScript-Bold.ttf") format("opentype");
  font-weight: 700;
}

/* GreyQo font */
@font-face {
  font-family: "Grey Qo";
  src: url("../font/GreyQo-Regular.ttf") format("opentype");
  font-weight: 400;
}

/* Mulish font */

@font-face {
  font-family: "Mulish";
  src: url("../font/Mulish-Regular.ttf") format("opentype");
  font-weight: 400;
}
@font-face {
  font-family: "Mulish";
  src: url("../font/Mulish-Medium.ttf") format("opentype");
  font-weight: 500;
}

/* Quicksand font */
@font-face {
  font-family: "Quicksand";
  src: url("../font/Quicksand-Regular.ttf") format("opentype");
  font-weight: 400;
}
@font-face {
  font-family: "Quicksand";
  src: url("../font/Quicksand-Medium.ttf") format("opentype");
  font-weight: 500;
}
@font-face {
  font-family: "Quicksand";
  src: url("../font/Quicksand-SemiBold.ttf") format("opentype");
  font-weight: 600;
}
/* Sriracha */
@font-face {
  font-family: "Sriracha";
  src: url("../font/Sriracha-Regular.ttf") format("opentype");
  font-weight: 400;
}
